<% include ../views/partials/header %>

<br><br><br><br>


<head>
    <style>
      h3 { color: #FF0000; font-size : 50px }
      li {color: #030303; font-size : 20px}
    </style>
</head>
<h3> A Treatment Of : </h3>
<br>
<ul>
    <% tl.forEach(function(treatment){ %>
        <li><%= treatment.name %></li>
    <% }) %>
</ul>
<br><br><br><br><br><br><br><br><br><br><br><br>


<% include ../views/partials/footer %>